body {


	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 1050px;
}

h1 {
	color:#daa520;
}
.table-margin {
	margin: 0 120px 0 0;
}

table {
	border-collapse: collapse;
	text-align: center;
}


.loginButton{
	margin: 10px 0 0 0;
}

.commentTitle{
	margin: 10px 0 0 0;
}

.writeComment{
	margin: 20px 0 5px 0;
}
.show-comments {
	margin: 0 0 0 40px;
}
.comment-form-area {
	margin: 0 0 0 40px;
}

.main-contents{
	background-color: #e0ffff;
}

.errorMessages {
	color: red;
	font-weight: bold;
}

a {

color:black;
text-decoration:underline;

}

.log-out {
	float: right;
	display:inline;
}

.menu {
	position: relative;
	top: 0;
	width: 100%;
	background-color: #58FAD0;
	color: red;
	font-weight: bold;

}

 label {
    width:200px;
    float: left;
    margin: 0 0 0 0;
}

select {
	margin: 2px 0 0 0;
}

.edit {
	float: right;
	margin: 0 0 0 10px;
}

.accountForm{
	margin: 0px 0px 5px 0px;
}
.passwordForm{
	margin: 0px 0px 5px 0px;
}
.passwordCheckForm{
	margin: 0px 0px 5px 0px;
}
.nameForm{
	margin: 0px 0px 5px 0px;
}
.branchForm{
	margin: 5px 0px 0px 0px;
}
.departmentForm{
	margin: 5px 0px 0px 0px;
}
.change {
	position: fixed;
	margin: 10px 0 0 0;
}

.copyright {
	text-align: center;
	position: relatve;
	bottom: 0;
	width: 100%;
}


